QWidget {
    background-color: beige;
}
QGroupBox {
    padding-top: 5px;
}
QLabel{
    background-color: #ffb833;
}
QLineEdit, QFrame, QGroupBox, QPushButton{
    border-width: 2px;
    border-style: solid;
    border-color: #ff9c5c;
    border-radius: 5px;
}
QPushButton {
    background-color: #ee8e2c;
    max-width: 130%;
}
QPushButton{
    float: right;
}
QPushButton:hover {
    background-color: #f0994d;
}
QPushButton:pressed {
    padding-left: 2px;
    padding-top: 3px;
    background-color: #ee7b1e;
}
QLabel, QAbstractButton {
    font: bold;
}
QComboBox {
    background-color: #ff8f3a;
    height: auto;
}
QComboBox QAbstractItemView {
    /*width: ;*/
    border: 2px solid #ff9c5c;
    border-radius: 5px;
    selection-background-color: #ff9c5c;
}
QTabBar::tab {
     border: 2px solid #C4C4C3;
     border-bottom-color: #C2C7CB;
     border-top-left-radius: 4px;
     border-top-right-radius: 4px;
     min-width: 8ex;
     padding: 2px;
}
QTabBar::tab:!selected {
    margin-top: 2px; /* делаем невыбранные вкладки меньше */
}
QRadioButton::indicator::unchecked {
    image: url("./icons/OSX-Radiobutton-PNGs/OSX-Radiobutton-OFF@2x.png");
}
QRadioButton::indicator::checked {
    image: url("./icons/OSX-Radiobutton-PNGs/OSX-Radiobutton-ON@2x.png");
 }
QComboBox:editable {
     background: white;
}
QGroupBox::title {
    top: -3px;
}
